name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install NPM Dependencies
        run: npm install

      - name: Capacitor Sync
        run: npx cap sync

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Make gradlew executable
        run: cd android && chmod +x gradlew

      - name: Build APK
        run: cd android && ./gradlew assembleDebug

      # CORREGIDO: "actions/upload-artifact@v4" (sin el "actions" extra)
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SIA-App-Debug
          path: android/app/build/outputs/apk/debug/app-debug.apk